.portfolio-card {
    box-sizing: border-box;
    height: 12em;
    max-height: 12em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--color-secondary);
    background-blend-mode: darken;

    border: var(--color-primary) 1px solid;
    border-radius: .5em;

    padding: 1em;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.portfolio-title {
    max-height: 60%;
    display: flex;
    flex-direction: column;
}

.portfolio-title>h3 {
    margin: 0 0 .5em 0;
}

.portfolio-title>h3>a {
    color: var(--text-secondary);

    text-decoration: none;
}

.portfolio-title>h3:hover a {
    text-decoration: underline;
}

.portfolio-title>p {
    margin: 0;
    height: fit-content;

    overflow: hidden;
}

.portfolio-topic-holder {
    display: flex;
    flex-wrap: wrap;
    gap: .25em;
}